$issoerosa: blue;
$font-default: 'Montserrat', sans-serif;

$background-color: #74c69d;
$color-primary: #40916c;
$element-background-color: #1b4332;
$card-color: #d8f3dc;
$text-body-color: #081c15;
$remove-button-background-color: #f94144;